@font-face {
  font-family: "iconfont"; /* Project id 4623307 */
  src: url('iconfont.woff2?t=1721143902231') format('woff2'),
       url('iconfont.woff?t=1721143902231') format('woff'),
       url('iconfont.ttf?t=1721143902231') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e667";
}

.icon-sousuo:before {
  content: "\e60e";
}

.icon-fenlei:before {
  content: "\e602";
}

.icon-jiangbei:before {
  content: "\e710";
}

.icon-faxian:before {
  content: "\e681";
}

